body   {
    margin: 0;
    padding: 0;
    background: url("../images/bg.jpg") repeat ;
}
.wrapper {
    width: 970px;
    background: #ffffff;
    border-radius: 3px;
    border: 1px solid #ededed;
    height: 1390px;
    margin: 61px auto;
}

.logo {
    font-family: 'Oleo Script', sans-serif;
    font-size: 40px;
    padding-top: 20px;
    padding-left: 26px;
    float: left;
}
.logo p  {
    margin: 0;
    font-family: arial, sans-serif;
    font-size: 11px;
    color: #999999;
    padding-left: 5px;
}
.navigation{

    float: right;
}
.menu{
    font-family: Oxygen, sans-serif;
    font-size: 14px;
    margin-top: 42px;
    margin-right: 5px;
}
.menu li{
    display: inline-block;
}
.menu li:hover:last-child{
    display: inline-block;
    background-color: #ffffff;
}

.menu li a{
    text-decoration: none;
    color: #666666;
    padding: 0 25px;
    line-height: 28px;
}
.menu li:hover{

    border-radius:3px;
    font-weight: 600;
    cursor: pointer;
}
.menu li a:hover{
    color: #222222;
}
.submenu{
    display: none;
    position: absolute;
}
.menu li:hover ul.submenu{
    display:block;
}
.submenu{

    padding-left: 8px;
    width: 167px;
    height: 161px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 4px;
    line-height: 1px;

}
.submenu li{
    border-bottom: 1px solid #e3e3e3;
    color: #949494;
    font-size: 10px;
    width: 158px;
    padding-top: 4px;
    padding-bottom: 7px;
}
.submenu li:last-child{
    border-bottom: 0;

}

.submenu a{
    font-weight: bold;
    font-size: 12px;
    padding-left: 5px !important;
}

.submenu_small_text {
    padding-left: 5px !important;
}
.submenu li:hover{

    background: rgba(243, 243, 243, 0.8);

    cursor: pointer;
}

.apply{
    color: #ffffff;
    padding: 5px 9px;
    border: 1px solid #efba4f;
    border-radius: 3px;
    background: #ffc552;
    margin-right: 13px;
}

.apply:hover {

    background-color: #eeb119;
    text-shadow: 1px 1px 2px black, 0 0 1em #ffa937;
    cursor: pointer;
}
.slider_block {
    clear: both;
    height: 321px;
    border-bottom: 1px solid #e5e5e5;
    margin: 0 auto;
    margin-bottom: 17px;
    width: 930px;

}
.slider {
    width: 300px;
    height: 200px;
    padding-top: 62px;
    margin-left: 56px;
    clear: both;
    float: left;
    position: relative;
}
.slider img {
    border: 4px solid transparent;
    background-image: -webkit-linear-gradient(#f2f2f2, #e4e4e4 50%), -webkit-linear-gradient(#e4e4e4, #ccc);
    background-image:    -moz-linear-gradient(#f2f2f2, #e4e4e4 50%),    -moz-linear-gradient(#e4e4e4, #ccc);
    background-image:     -ms-linear-gradient(#f2f2f2, #e4e4e4 50%),     -ms-linear-gradient(#e4e4e4, #ccc);
    background-image:      -o-linear-gradient(#f2f2f2, #e4e4e4 50%),      -o-linear-gradient(#e4e4e4, #ccc);
    background-image:         linear-gradient(#f2f2f2, #e4e4e4 50%),         linear-gradient(#e4e4e4, #ccc);
    box-shadow: inset 0 0 0 1px rgba(255,255,255,0.5), 0 5px 9px -3px rgba(0,0,0,0.25);
}
.slider_description {
    float: right;

    padding-top: 72px;
    text-align: right;
    font-family: 'Oxygen', sans-serif;
    width: 485px;
    border-bottom: 1px solid #e5e5e5;
    margin-right: 69px;
    padding-bottom: 9px;
}
.left_arrow {
    position: absolute;
    top: 204px;
    left: 7px;
    border-radius: 4px;
    width: 32px;
    height: 49px;
    background: url("../images/left_arrow.png");
 }
.right_arrow {
    position: absolute;
    top: 204px;
    left: 261px;
    width: 32px;
    height: 49px;
    border-radius: 4px;
    background: url("../images/right_arrow.png");
}
.left_arrow img, .right_arrow img {
    border: 0;
    border-radius: 4px;
}

.right_arrow:hover {
    background: url("../images/right_arrow.jpg");
    width: 32px;
    height: 49px;
    border-radius: 6px;
}
.left_arrow:hover {
    background: url("../images/left_arrow.jpg");
    width: 32px;
    height: 49px;
    border-radius: 6px;
}

.slider_text {
    background: url("../images/bg_slaider.png");
    position: absolute;
    top: 204px;
    left: 41px;
    width: 218px;
    height: 49px;
    font-family: arial, sans-serif;
}
.slider_text p{
    margin: 0;
}
.slider_text_title {
    color: #ffffff;
    font-size: 13px;
    padding-top: 3px;
    padding-left: 7px;
}


.slider_text_description {
    padding-left: 8px;
}
.orange_text {
    color: #ffc14c;
    font-size: 11px;
}
.grey_text {
    color: #676767;
    font-size: 11px;

}

h2  {
    font-size: 38px;
    font-weight: normal;
    margin: 0;
    letter-spacing: -0.6px;
    color: #515151;
}
.slider_description p {
    font-size: 14px;
    letter-spacing: -0.3px;
    margin: 6px 0;
    color: #666666;
}


.news {
    font-size: 0;
    margin-left: 10px;
    height: 384px;
}

h3  {
    font-family: 'Oxygen', sans-serif;
    margin: 0;
    font-size: 18px;
    color: #222222;
    font-weight: normal;
    padding-left: 20px;
}
.news_block {
    margin: 15px 7px 0;
    display: inline-block;
    vertical-align: bottom;
}
.news_title {
    background: url("../images/news_left_down.jpg");
    height: 54px;
    width: 304px;
    font-size: 15px;
}
.news_block img {
    border: 4px solid transparent;
    background-image: -webkit-linear-gradient(#f2f2f2, #e4e4e4 50%), -webkit-linear-gradient(#e4e4e4, #ccc);
    background-image: -moz-linear-gradient(#f2f2f2, #e4e4e4 50%), -moz-linear-gradient(#e4e4e4, #ccc);
    background-image: -ms-linear-gradient(#f2f2f2, #e4e4e4 50%), -ms-linear-gradient(#e4e4e4, #ccc);
    background-image: -o-linear-gradient(#f2f2f2, #e4e4e4 50%), -o-linear-gradient(#e4e4e4, #ccc);
    background-image: linear-gradient(#f2f2f2, #e4e4e4 50%), linear-gradient(#e4e4e4, #ccc);
}
.news_title_p {
    font-family: 'Oxygen', sans-serif;
    padding-left: 11px;
    padding-top: 5px;
    letter-spacing: -0.7px;
    color: #666666;
}

.news_title_small {
    font-family: arial, sans-serif;
    padding-left: 11px;
    padding-top: 5px;
    letter-spacing: 0.1px;
    color: #999999;
    font-size: 11px;
}
.news_block:hover .news_title{
    background: url("../images/news_right_down.png");
}

.news_center_title {
    background: url("../images/news_center_down.png");
    height: 54px;
    width: 304px;
    font-size: 15px;
}
.news_title p {
    margin: 0;
}


.news_title_text {
    font-family: arial, sans-serif;
    color: #666666;
    font-size: 12px;
    padding-top: 25px;
    padding-left: 10px;
    line-height: 18px;
    text-align: justify;
    padding-right: 10px;
}
.tabs {
    max-width: 931px;
    border: 1px solid #ececec;
    border-radius: 3px;
    font-family: arial, sans-serif;
    margin: 18px 0 0 18px;
    padding-bottom: 18px;
    height: 218px;
}
.tabs_header {
    font-size: 0;
    color: #999999;
    background: linear-gradient(to top,#f8f8f8, #fdfdfd);
}
.tabs_item {
    font-size: 14px;
    display: inline-block;
    padding: 13px 10px;
    border-right: 1px solid #ececec;
}

.tabs_item:hover{
    cursor: pointer;
}

.tabs_content ul li {
    line-height: 1.7;
    list-style-type: none;
}
.tabs hr {
    margin: 0 22px;
    color: #e5e5e5;
}
.tabs_content {
    font-size: 12px;
}

.border_top {
    margin: 0 20px;
    border-top: 1px solid #e5e5e5;
}

.tabs_content p{
    font-size: 14px;
    margin: 28px 0 9px 19px;
}
span.highlightme {
    background-color: #ffe7b9;
    color: #c07e00;
}
.tabs .tabs_content {
    display: none;
}
.tabs .tabs_content_1 {
    display: block;
}
.active {
    background: #ffffff;
    color: #666666;
}
.tabs img {
    border: 4px solid transparent;
    background-image: -webkit-linear-gradient(#f2f2f2, #e4e4e4 50%), -webkit-linear-gradient(#e4e4e4, #ccc);
    background-image:    -moz-linear-gradient(#f2f2f2, #e4e4e4 50%),    -moz-linear-gradient(#e4e4e4, #ccc);
    background-image:     -ms-linear-gradient(#f2f2f2, #e4e4e4 50%),     -ms-linear-gradient(#e4e4e4, #ccc);
    background-image:      -o-linear-gradient(#f2f2f2, #e4e4e4 50%),      -o-linear-gradient(#e4e4e4, #ccc);
    background-image:         linear-gradient(#f2f2f2, #e4e4e4 50%),         linear-gradient(#e4e4e4, #ccc);
    box-shadow: inset 0 0 0 1px rgba(255,255,255,0.5), 0 5px 9px -3px rgba(0,0,0,0.25);
    float: left;
    margin-right: 6px;
}
.obtek {
    float: left;
    padding: 0 77px 0 22px;
    width: 196px;
    margin-top: 10px;
}
.obtek a{
    text-decoration: none;
    color: #333333;
}
.obtek a:hover{
color: #0da687;

}
.news_box {
    float: left;
    margin: 12px 12px 0 12px;
    width: 280px;
}
.news_box p {
    font-size: 12px;
    line-height: 1.7;
    margin-top: 2px;
}
h4 {
    margin: 2px 0 0;
}
footer {
    font-size: 12px;
    margin: 33px 20px 0 20px;
    border-top: 1px solid #e5e5e5;
}
.footer_title {
    text-transform: uppercase;
    font-weight: bold;
    color: #ffad19;
    font-family: arial, sans-serif;
    padding: 17px 0 0 0;
    margin: 0;
}


.footer_list {
    list-style-type: none;
    font-family: arial, sans-serif;
    padding-left: 0;
    line-height: 2.5;
    margin: 10px 0 30px;
    width: 178px;
    color: #666666;
    padding-right: 23px;
}

.footer_list a{
    text-decoration: none;
    color: #666666;
}
.footer_list a:hover{
    color: #0da687;
}

.footer_list li{
    border-bottom: 1px solid #e4e4e4;
    line-height: 2.45;
}

.footer_list_two li {
    border-bottom: 1px solid #e4e4e4;
    height: 60px;
    font-family: arial, sans-serif;
    list-style-image: url("../images/icon_list.png");
}

.footer_list_two {
    margin: 0;
    padding: 0;
    padding-top: 5px;
    width: 460px;
    list-style-type: none;
}
.footer_list_first {
    display: inline-block;
    margin-right: 47px;
    width: 195px;
}
.footer_list_last {
    line-height: 1.1;
    display: inline-block;
    padding: 2px 0 0 0;
    vertical-align: top;
    width: 192px;
    margin-left: -24px;
}
.footer_list_last a:hover {
    color: #0da687;
}

.footer_list_last p{
    padding: 17px 0 0 0;
}
.small {
    font-size: 11px;
    color: #c1c1c1;
}
.footer_list_two a{
    text-decoration: none;
    color: #666666;
}

.lines {
    content: url(../images/lines.png);
    width: 985px;
    height: 7px;
    position: absolute;
    margin-top: -12px;
    margin-left: -30px;
}

.slide-item, .left_arrow {
    display: none;
}

.slide-item:first-child {
    display: block;
}

.shadow_right {
    position: absolute;
    width: 320px;
    height: 10px;
    background-color: #000;
    -ms-transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
    margin-top: -24px;
    margin-left: 610px;
    z-index: -1;
    box-shadow: 5px 5px 20px #000;
}
.shadow_left {
    position: absolute;
    width: 320px;
    height: 10px;
    background-color: #000;
    -ms-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
    box-shadow: 5px 5px 20px #000;
    margin-top: -23px;
    margin-left: -10px;
    z-index: -1;
    margin-bottom: 80px;
}

.list_icon {
    position: absolute;
    content: url(../images/list_icon.png);
    margin-top: 6px;
    margin-left: -10px;
    opacity: 0.3;
}
.visible_button {
    position: absolute;
    background: url("../images/bg_grey.png");
    width: 296px;
    height: 142px;
    margin-left: 4px;
    margin-top: 4px;
    visibility: hidden;
    transition: 10ms;

}

.visible_button img{
    background-image: none;
    border: 0;

}

.left_image {
    position: absolute;
    margin-left: 81px;
    margin-top: 56px;
    cursor: pointer;
}

.center_image {
    position: absolute;
    margin-left: 120px;
    margin-top: 43px;
    cursor: pointer;
 }

.right_image {
    position: absolute;
    cursor: pointer;
    margin-left: 185px;
    margin-top: 56px;
}

.news_block:hover .visible_button{
    visibility: visible;
    transition: 2s;
}