
body {
    margin: 0;
    padding: 0;

}

.wrap {
    background-color: #A64DFF;
    width: 100%;
}

ul {
    margin: 0;
}
ul li {
     display: inline-block;
     font-weight: bold;
     font-family: Economica;
     font-size: 20px;
     line-height: 2;
     text-transform: uppercase;
 }
.nav {
    margin: 0 auto;
    width: 900px;
}


li:hover {
    color: #A0A0A0;
    background-color: #EEEEEE;
    box-shadow: 0 0 10px rgba(0,0,0,0.5)
}
a {
    color: white;
    text-decoration: none;
    padding: 9px 10px ;
}
a:hover {
    color: #A0A0A0;
    background-color: #EEEEEE;
}
ul li:last-child {
    float: right;
}