
body {
    margin: 0;
    padding: 0;
}
.wrap {
    background-color: #A64DFF;
    width: 100%;
}
ul {
     margin: 0;
}
ul li {
    display: inline-block;
    padding: 0 15px;
    font-family: impact;
    font-size: 25px;
    line-height: 2;
}
.nav {
    margin: 0 auto;
    width: 900px;
}
@font-face {
    font-family: impact;
    src: url(fonts/impact.ttf);
}
li:hover {
    color: #A0A0A0;
    background-color: #EEEEEE;
}
a {
    color: white;
    text-decoration: none;
}
a:hover {
    color: #A0A0A0;
    background-color: #EEEEEE;
}