body {
    margin: 0;
    padding: 0;
}
.wrapper   {
    max-width: 1600px;
    background: #f7f8fa ;
    margin: 0 auto;
    height: 900px;
}
h2 {
    font-family: lato, sans-serif;
    color: #2d3950;
    text-align: center;
    font-size: 41px;
    letter-spacing: 0.5px;
    margin-top: 0;
    font-weight: normal;
    margin-bottom: 17px;
    padding-top: 60px;


}

.slogan {
    font-size: 15px;
    color: #909090;
    font-family: lato, sans-serif;
    text-align: center;
}

@font-face {
    font-family: lato;
    src: url(../fonts/Lato-Regular.ttf);
}

.gallery_cover {
    margin: 0 auto;
    max-width: 1165px;
}

.gallery {
    min-width: 390px;
    margin-top: 63px;
}

.item {
    width: 360px;
    height:260px;
    float: left;
    margin: 14px;
    position: relative;
    overflow: hidden;
}
.item:before {
    opacity: 0;
}
.item:hover:before {
    content: ' ';
    background-color: #25a6f7;
    height: 100%;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    transition: opacity 0.3s;
    width: 100%;
}

.block {
    content: ' ';
    background-color: #39aef7;
    height: 100%;
    left: 0;
    opacity: 0.8;
    position: absolute;
    top: 0;
    width: 100%;
    visibility: hidden;
}
.item:hover .block{
    visibility: visible;
}
.icon {
    margin: 122px 0 0 135px;
}

.icon a {
    padding: 14px 12px 11px;
    border: 1px solid #ffffff;
    border-radius: 3px;
    text-decoration: none;
}

.icon a:hover {
    background-color: #25a6f7;
    padding: 14px 12px 11px;
    border: 1px solid #ffffff;
}
.con_img {
    position: absolute;
    z-index: 100;
 }
.img {
    cursor: pointer;
    margin: 14px;
    z-index: 100;
}
.clear_buton {
    position: absolute;
    right: -3px;
    top: -3px;
    cursor: pointer;

    z-index: 100;
}
.clear_buton:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, .9);
    position: absolute;
    background-image: url("../images/closehover.jpg");
    width: 40px;
    height: 40px;
}

.parandga {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: #ffffff;
    opacity: 0.9;
}