body {
    margin: 0;
    padding: 0;
}

.wrapper {
    background-color: #ffffff;
    width: 1400px;
    margin: 0 auto;
}

.logo {
    margin-left: 190px;
    margin-top: 40px;
    letter-spacing: 3.5px;
    color: #ee8129;
    float: left;
    font-family: futurabt-book;
    margin-bottom: 38px;
    font-size: 32px;
    position: relative;
}
.logo_text {
    color: #3070a8;
    font-family: futurabt-bold;
    text-transform: uppercase;
    font-size: 32px;

}


.nav {
    float: right;
    margin-top: 47px;
    margin-right: 165px;
}

.nav ul li {
    font-size: 14px;
    display: inline;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}

.nav ul li a{
    text-decoration: none;
    color: #989898;
    padding-right: 20px;
    padding-left: 20px;
}

.nav ul li a:hover{
    text-decoration: none;
    color: #3070a8;
    border-bottom: 4px solid #3070a8;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 31px;
}

.specilist {
    background: url(../images/bgblock.jpg);
    height: 585px;
    clear: both;
    margin: 0 auto;
    padding: 0px;
}

.text_specialist {
    color: #ffffff;
    font-family: futurabt-book;
    font-size: 32px;
    text-align: center;
    padding-top: 147px;
    letter-spacing: 2.2px;
    margin: 0;
}
.text_bold_specialist {
     color: #ffffff;
     font-family: futurabt-bold, sans-serif ;
     font-size: 44px;
     text-align: center;
     letter-spacing: 2.2px;
     text-transform: uppercase;
     margin: 0;
     padding-top: 10px;
 }
.text_bold_specialist_letter {
    color: #ffffff;
    font-family: futurabt-bold, sans-serif ;
    font-size: 44px;
    text-align: center;
    letter-spacing: 4.8px;
    text-transform: uppercase;
    margin: 0;
    padding-top: 3px;
}

.text_italic {
    font-family: calibri, sans-serif ;
    font-size: 20px;
    font-style: italic;
    text-align: center;
    color: #ffffff;
    line-height: 1.5;
    letter-spacing: 0.5px;
}

.specilist button {
    width: 246px;
    height: 58px;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    border: 1px solid #8d96a2;
    margin-left: 570px;
    margin-top: 16px;
    background-color: rgba(0, 0, 0, 0);
    text-transform: uppercase;
    letter-spacing: 2px;
}

.three_example {
    width: 1040px;
    margin: 0 auto;
}

.three_example h2 {
    font-family: Trebuchet MS, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 73px;

}
.protect {
    width: 329px;
    float: left;
}

.protect_img {
    background: url("../images/zamok.jpg");
    width: 140px;
    height: 140px;
    text-align: center;
    margin: auto;
}
.protect h2{
    color: #3070a8;
    text-transform: uppercase;
    text-align: center;
    margin-top: 27px;
    font-weight: normal;
    letter-spacing: 1.5px;
    margin-bottom: 0;
}
.text_protect {
    font-family: 'Open Sans', sans-serif;
    color: #999999;
    margin-top: 15px;
    letter-spacing: 1.5px;
    text-align: center;
    font-size: 14px;
    line-height: 1.7;
}

.alert {
    float: left;
    padding-left: 30px;
    width: 325px;

}

.alert_img {
    background: url("../images/alert.jpg");
    width: 140px;
    height: 140px;
    text-align: center;
    margin: auto;
}

.alert h2{
    color: #3070a8;
    text-transform: uppercase;
    text-align: center;
    margin-top: 27px;
    font-weight: normal;
    letter-spacing: 1.5px;
    margin-bottom: 0;
}

.text_alert {
    font-family: 'Open Sans', sans-serif;
    color: #999999;
    margin-top: 15px;
    letter-spacing: 1.5px;
    text-align: center;
    font-size: 14px;
    line-height: 1.7;
}

.detect {
    float: left;
    padding-left: 36px;
    width: 320px;

}

.detect_img {
    background: url("../images/detect.jpg");
    width: 140px;
    height: 140px;
    text-align: center;
    margin: auto;
}

.detect h2{
    color: #3070a8;
    text-transform: uppercase;
    text-align: center;
    margin-top: 27px;
    font-weight: normal;
    letter-spacing: 1.5px;
    margin-bottom: 0;
}

.text_detect {
    font-family: 'Open Sans', sans-serif;
    color: #999999;
    margin-top: 15px;
    letter-spacing: 1.5px;
    text-align: center;
    font-size: 14px;
    line-height: 1.7;
}

@font-face {
    font-family: futurabt-book; /* ָל רנטפעא */
    src: url(../fonts/futurabt-book.otf); /* ֿףע ך פאיכף סמ רנטפעמל */
}

@font-face {
    font-family: futurabt-bold; /* ָל רנטפעא */
    src: url(../fonts/futurabt-bold.otf); /* ֿףע ך פאיכף סמ רנטפעמל */

}

.lorem {
    background: url(../images/bglorem.jpg);
    width: 100%;
    height: 575px;
    float: left;
    margin: 26px auto;
    padding: 0px;

}

.lorem_title {
    font-size: 26px;
    font-family: futurabt-book, sans-serif;
    color: #ee8129;
    text-transform: uppercase;
    width: 50%;
    padding-top: 76px;
    padding-left: 190px;
    width: 50%;
    line-height: 1.8;
}
.lorem_italic {
    font-size: 19px;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    font-style: italic;
    width: 50%;
    margin-top:9px;
    padding-left: 190px;
    width: 50%;
    letter-spacing: -0.6px;
}

.lorem ul {
     width: 615px;
     color: #9d9d9d;
     font-family: 'Open Sans', sans-serif;
     font-size: 14px;
     padding-left: 229px;
     letter-spacing: 0.3px;
     margin-top:31px;
     line-height: 2.4;
 }

.lorem li {
    list-style: url("../images/grey.png");
}
.lorem ul li:nth-child(2n){
    color: #3070a8;
    list-style: url("../images/blue.png");
}

.three_stock {
    margin: 0 auto;
    width: 898px;
    clear: both;
    padding-top: 48px;


}
.stock_left {
    padding: 0;
    background-color: #37c2d3;
    width: 286px;
    border-radius: 6px;
    position: relative;
    float: left;
    margin-top: 10px;
    border: 1px solid #e8eaec;
    z-index: 1;
}
.stock_right {
    padding: 0;
    background-color: #1cb79a;
    width: 283px;
    border-radius: 6px;
    position: relative;
    float: left;
    margin-top: 10px;
    border: 1px solid #e8eaec;
    z-index: 1;
}
.stock {
    padding: 0;
    background-color: #ee8129;
    width: 300px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 6px;
    position: relative;
    float: left;
    z-index: 2;
}

.three_stock h2 {
    font-family: Trebuchet MS, sans-serif;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    padding: 0;
    margin: 0 0 60px ;
}
.title_left {
    width: 290px;
    font-size: 24px;
    margin: 0 auto;
    padding: 18px 0;
    color: #fff;
    text-transform: uppercase;
    font-family: futurabt-bold, sans-serif;
    text-align: center;
    font-weight: bold;
}
.title_right {
    font-size: 24px;
    margin: 0 auto;
    padding: 18px 0;
    color: #ffffff;
    text-transform: uppercase;
    font-family: futurabt-bold, sans-serif;
    text-align: center;
    font-weight: bold;
}
.title {
    width: 310px;
    font-size: 24px;
    margin: 0 auto;
    padding: 23px 0;
    color: #fff;
    text-transform: uppercase;
    font-family: futurabt-bold, sans-serif;
    text-align: center;
    font-weight: bold;
}
.white_stock_left {
    background-color: #fff;
}
.white_stock {
    background-color: #fff;
    margin: 0 5px 5px;
}
.black_title {
    color: #3f4042;
    font-size: 24px;
    font-family: futurabt-book, sans-serif;
    padding: 17px 0;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    width: 301px;
}
.black_title_left {
    color: #3f4042;
    font-size: 24px;
    font-family: futurabt-book, sans-serif;
    padding: 17px 0;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    width: 293px;
}
.black_title_right {
    color: #3f4042;
    font-size: 24px;
    font-family: futurabt-book, sans-serif;
    padding: 17px 0;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    width: 276px;
}
.currency {
    color: #35495a;
    font-family: futurabt-bold, sans-serif;;
    float: left;
    font-weight: bold;
    font-size: 20px;
    margin-left: 68px;
    margin-top: 2px;
}
.currency_left {
    color: #35495a;
    font-family: futurabt-bold, sans-serif;
    float:left;
    font-weight: bold;
    font-size: 20px;
    margin-left: 74px;
    margin-top: 2px;
}
.currency_right {
    color: #35495a;
    font-family: futurabt-bold, sans-serif;
    float:left;
    font-weight: bold;
    font-size: 20px;
    margin-left: 65px;
    margin-top: 2px;
}
.price {
    top: -10px;
    left: 5px;
    color: #35495a;
    font-family: futurabt-bold, sans-serif;
    font-size: 74px;
    position: relative;
    float: left;
    letter-spacing: -7px;
}
.term {
    position: relative;
    color: #35495a;
    font-size: 18px;
    font-family: futurabt-book, sans-serif;
    margin-top: 52px;
    left: 2px;
}
.three_stock ul {
    padding: 0 15px;
    margin-top: 23px;
    margin-bottom: 0;
}
.three_stock li {
    font-size: 15px;
    font-family: calibri, sans-serif;
    clear: both;
    letter-spacing: 0.7px;
    list-style-type: none;
    margin-bottom: 1px;
    padding: 7px 0 10px 34px;
    color: #888c94;
    font-weight: bold;
}
.three_stock li:nth-child(2n+1){
    background-color: #edf5fd;
}
.three_stock li:nth-child(2n) {
    background-color: #f5f5f6;
}
.three_stock li:before {
    content: url(../images/marker.png);
    margin-right: 15px;
}

.white_stock button{
    background-color: #ee8129;
    text-align: center;
    width: 251px;
    height: 40px;
    border-radius: 5px;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin: 12px 18px 30px 18px;
    border: none;
}
.white_stock button:hover {
    box-shadow: 0 3px 2px #b3560b;
    background-color: #eeb119;
    text-shadow: 1px 1px 2px black, 0 0 1em red;
}
.white_stock_left button{
    background-color: #3371a6;
    text-align: center;
    width: 251px;
    height: 40px;
    border-radius: 5px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin: 12px 18px 20px 18px;
    border: none;
}
.white_stock_left button:hover {
    box-shadow: 0 3px 2px #16436a;
    background-color: #3371a6;
    text-shadow: 1px 1px 2px black, 0 0 1em #701e80;
}

.reviews {
    background: url(../images/bg.png);
    width: 100%;
    height: 315px;
    margin: 0 auto;
    float: left;
    margin-top: 72px;
}
.reviews h2 {
    text-align: center;
    color: #3170a8;
    font-family: futurabt-bold, sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    padding-top: 50px;
    font-weight: normal;
    margin-top: 0px;
    padding-bottom: 6px;
}
.foto_reviews_left {
    width: 100px;
    height: 100px;
    background: url(../images/girl.jpg);
    float: left;
}
.foto_reviews_right {
    width: 100px;
    height: 100px;
    background: url(../images/men.jpg);
    float: left;
}
.one_reviews {
    background: url(../images/bg.png);
    width: 490px;
    float: left;
    margin-left: 190px;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;

}
.two_reviews {
    background: url(../images/bg.png);
    width: 490px;
    float: left;
    margin-left: 43px;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
}
.text_reviews::before {
    content: '';
    position: absolute;
    top:35px;
    left:-15px;
    border-right: 18px solid #fff;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}
.text_reviews {
    background: #fff;
    width: 345px;
    margin-left: 126px;
    position: absolute;
    padding-left: 18px;
    padding-top: 10px;
}
.title_reviews {
    color: #3070a8;
    font-style: italic;
    float: left;
}
.user {
    color: #3070a8;
    font-style: italic;
    float: right;
    padding-right: 24px;
}
hr {
    border: 0;
    border-bottom: 1px dotted #666666;
    padding-top: 10px;
    margin-right: 20px;
    clear: both;
}
.orange {
    color: #ee8129;
    font-family: futurabt-book, sans-serif;
}
.text {
    line-height: 1.5;
    letter-spacing: 0.3px;
    color: #666666;
    padding-bottom: 14px;
}
.contacts {
    width: 100%;
    clear: both;
    float: right;
}
.adress {

    float: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #666666;
    padding-left: 190px;
    font-weight: 600;
}
.adress ul{
    list-style: none;
    padding-left: 60px;
}
.pic {
    position: absolute;
    background: url("../images/contact.png");
    width: 25px;
    height: 31px;
    margin-top: 42px;
    margin-left: 5px;
}
.pic_two {
    position: absolute;
    background: url("../images/phone.png");
    width: 22px;
    height: 28px;
    margin-top: 172px;
}
.pic_three {
    position: absolute;
    background: url("../images/mail.png");
    width: 27px;
    height: 16px;
    margin-top: 217px;
}
.adress_one {
     margin-top: 42px;
     line-height: 2.1;
 }
.adress_two {
    margin-top: 15px;
}
.adress_three {
    margin-top: 15px;
    letter-spacing: 0.5px;
}
.adress img {
    padding-top: 20px;
    padding-right: 17px;
}
.map {
    width: 50%;
    float: right;
}
footer {
    height: 105px;
    background-color: #3070a8;
    color: #ffffff;
    clear: both;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 2.1;
    padding-top: 20px;
    letter-spacing: 0.6px;
}
footer a {
    text-decoration: none;
    color: #1d1c1c;
    font-weight: bold;
}